
# refer to https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: -*, clang-analyzer-core.*, clang-analyzer-cplusplus.*, performance-*, cppcoreguidelines-*, readability-*, bugprone-*, google-*, -cppcoreguidelines-pro-bounds-pointer-arithmetic
